$black-light: #3d4043;
$black-medium: #252829;
$grey-dark: #64748b;
$grey-extra-dark: #3b4049;
$grey-light: #e2e8f0;
$grey-medium: #E9EDFA;
$navy-dark: #0f172a;
$navy-extra-dark: #262a2c;
$navy-medium: #1e293b;
$orange-light: #f1a0a0;
$red-dark: #7f1d29;
$violet: #727CD4;
$violet-light: #E2E6FA;
$violet-medium: #7B80D7;
$white: #ffffff;
