@import '../../../styles/variables';

.key3D {
  position: relative;
  width: 96px;
  height: 96px;
  transform: translateX(-48px) translateY(-48px);
  transform-style: pres1erve-3d;
  user-select: none;
  transition: transform 0.1s ease-out;

  &.active {
    transform: translateX(-16px) translateY(-16px);
  }

  .char {
    position: absolute;
    width: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .number {
      font-size: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      line-height: 1.3;
      color: $grey-dark;
      text-shadow: 0.8px 0 0 $grey-dark, 0.8px 1.6px 0  $navy-dark,
        1.6px 0.8px 0 $grey-dark, 1.6px 2.4px 0  $navy-dark, 2.4px 1.6px 0 $grey-dark,
        2.4px 3.2px 0  $navy-dark, 3.2px 2.4px 0 $grey-dark, 3.2px 4px 0  $navy-dark,
        4px 3.2px 0 $grey-dark, 4px 4.8px 0 $navy-dark;
    }

    .letters {
      margin-left: 10px;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 500;
      color: $grey-dark;
    }
  }

  .side {
    position: absolute;
    width: 250%;
    height: 140%;
    background-image: linear-gradient($grey-light 45%, $grey-medium 55%);
    border-radius: 16px;
    transform: rotateZ(45deg) translate(19%, 28%);
  }

  .top {
    position: absolute;
    width: 100%;
    height: 100%;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $grey-light;
      border-radius: 12.8px;
      filter: blur(4.8px);
      transform: translate(10%, 10%);
    }

    &::after {
      content: '';
      position: absolute;
      width: 105%;
      height: 105%;
      background-image: linear-gradient(-45deg, transparent 45%, $grey-light 55%);
      border-radius: 12.8px;
      box-shadow: inset -3.2px -3.2px 8px -3.2px $white,
        3.2px 3.2px 8px -3.2px $white;
    }
  }

  &.dark {
    .side {
      background-image: linear-gradient($black-medium 45%, $black-medium 55%);
    }

    .number {
      color: $grey-light;
    }

    .letters {
      color: $grey-light;
    }

    .top {
      &::before {
        background-color: $black-light;
      }

      &::after {
        background-image: linear-gradient(-45deg, transparent 45%, $black-light 55%);
        box-shadow: inset -3.2px -3.2px 8px -3.2px $black-light,
          3.2px 3.2px 8px -3.2px $grey-dark;
      }
    }
  }
}