@import './styles/variables';

.app {
  font-family: 'Roboto', sans-serif;
  background: $violet-light;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  &.dark {
    background: $grey-extra-dark;
  }

  @media (max-width: 1000px) {
    flex-direction: column-reverse;
  }
}

.left-container {
 display: flex;
 flex-direction: column;
}
